<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://thumbs.web.sapo.io/?W=800&H=0&delay_optim=1&epic=OGY22KJlIUjrOILyfMbja0BPpx44PtMM/y1vB1WK/D98jDe1WgZGL1XCbYvYR701ivTLhPSQy1ntKFHv/6NyA36QOi1U3P3dPFYb0GK+C4TSZiY=);">
  <div class="container">
    <h1 class="text-center"><strong>Bookmark movies into lists!</strong></h1>
  </div>
</div>
<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-black">
    <h3 class="typed-js"></h3>
  </div>
</div>
<div>
  <div>
    <h3>My Lists</h3>
    <%= link_to 'Create a new list', new_list_path, class: 'btn btn-flat' %>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 colsm-6 col-md-4 mb-3">
        <%= link_to list_path(list), class:'text-decoration-none' do %>
            <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
